
body{
    margin: 0;
    /* margin-left: 0;
    margin-right: 0;
    margin-top: 0; */
    text-align: center;
    font-family: 'Merriweather', serif;

}
/* font size are inherited*/
h1{
    margin: 75px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /* width: 10%;
    margin: 0 auto 0 auto; 0 auto works same */
    font-size: 5.625rem;/*100%==1em=16px*//*use rem to ignore inheritance*/
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.top_container{
    background-color: #CDF0EA;
    position: relative;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    /* margin-top: 200px;
    margin-left: 400px; */ /*alternate way to do so*/
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}